{% extends 'base.html' %}
{% block title %} STUDENT INFO {% endblock %}

{% block content %} 
    <h1>STUDENT IFORMATION FORM:</h1>
    
    <form method="POST" novalidate>
    {% csrf_token %}

    {% for field in form %}
        <div class = "mb-3">
            <label>{{ field.label}}</label>
            {{ field }}
            {% if field.errors %} venv
            <div>{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
    {% endfor %}

    <div>
        <button type = "submit">Enroll Now</button>
    </div>
    </form>

    <h1>STUDENT LIST:</h1>
    {% for x in student %}
        <ul>
            <li> 
                <h1>{{ x.name }}</h1>
                <p>Student ID: {{ x.studid }}</p>
                <p>Department: {{ x.department }} </p>
                <p>Year: {{ x.year }} </p>
                <p>Email: {{ x.email }} </p>
            </li>
        </ul>
    {% endfor %}

    <a href="{% url 'success' %}">View Success page</a>
{% endblock %}