{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link rel="stylesheet" href="{% static 'login.css' %}">
<body>
    <div>
        <h2>Login</h2>

        {% if messages %}
            {% for message in messages %}
                <div class = "alert alert-{{ message.tags }}">{{message}}</div>
            {% endfor %}
        {% endif %}

        <form method = "POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class = "btn btn-primary w-100 mt-3">Login</button>
        </form>

        <p>
            Don't have an account? <a href="{% url 'register_user'%}">Register</a>
        </p>
    </div>
</body>     
</html>